
.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
}

.tarjeta {
  width: 100%;
  max-width: 300px; 
  margin: 0 auto; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.tarjeta h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  animation: moveLetters 2s infinite alternate;
}

@keyframes moveLetters {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-5px);
  }
}

/* Estilos para resaltar los productos destacados */
.tarjeta.destacado {
  border-color: #ff9800;  /* Cambia el color del borde para resaltar el producto */
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.5);  /* Añade una sombra para resaltar */
}

@media screen and (max-width: 768px) {
  .grilla {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .tarjeta {
      max-width: 100%;
  }
}
