.pie-de-pagina {
  background-color: bisque ;
  text-decoration: double;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 700px) {
  .Recitales {
    display: inline-block;
  }
}