.pie-de-pagina {
  border-top: 10px solid rgb(148, 136, 136);
  background-color: #6a7d9084;
  text-decoration: double;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 700px){
  .Recitales{
      display: inline-block;
  }
}
