:root {
  --GrisOscuro: rgb(60, 58, 58, 0.23);
  --RosaOpaco: rgb(143, 125, 139);
  --Coral: rgb(148, 52, 52);
  --Violeta: rgb(98, 98, 164);
  --Verde: rgba(93, 129, 122, 0);
  --Rosa: rgb(236, 215, 215);
  --negroOpaco: rgba(21, 21, 20, 0);
  --negro: #000000;
}
/* Definimos la animación de cambio de matices */
@keyframes cambio-matices {
  0% {
    filter: hue-rotate(0deg); /* Sin cambio en el matiz */
  }
  50% {
    filter: hue-rotate(180deg); /* Gira el matiz en 180 grados */
  }
  100% {
    filter: hue-rotate(360deg); /* Regresa al matiz original */
  }
}

/* Aplicamos la animación a la clase .botonera */
.botonera {
  background-image: url(/public/img/fvino.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: var(--RosaOpaco);
  border-radius: 15px;
  animation: cambio-matices 10s infinite alternate; /* Aplicamos la animación de cambio de matices */
}

/* Resto de estilos */
.lista {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style-type: none;
}

.enlace {
  padding: 20px;
  margin: 20px;
  border: 3px solid var(--Rosa);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.enlace:hover {
  background-color: var(--RosaOpaco);
  transform: translateX(5px);
}

.activo {
  font-weight: bold;
}

/* Ajustes específicos para pantallas pequeñas */
@media screen and (max-width: 800px) {
  .botonera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Reducción del espacio de relleno */
  }

  .lista {
    justify-content: center;
  }

  .enlace {
    padding: 12px;
    margin: 8px;
  }
}
